.login_container{
    min-width: 50%;
}
.user_details{
    align-items: center;
    display: flex;
}
.user_review{
    font-weight: 600;
    font-size: 1.5rem;
}
.user_name{
    /* font-weight: 600; */
    font-size: 1.25rem;
}
.login_form{
    align-items: center;
    display: flex;
}